

.background{
    height: 1vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    align-items: center;
    background-size: cover;
    overflow: auto; 
}


.button {
  background-color: #276bdf;
  border-radius: 5px;
  color: rgba(24, 16, 16, 0.863);
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
  border: 0;
  font-size: 15px;

}

.button:hover,
.button:focus {
  outline: 9px;
  background: #0a4c52;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}
.dropbtn {
    background-color: #9fb9e6;
  border-radius: 5px;
  color: rgba(24, 16, 16, 0.863);
  cursor: pointer;
  font-weight: bold;
  /* padding: 10px 10px; */
  text-align: center;

  box-sizing: border-box;
  border: 0;
  font-size: 15px;
  }

  .dropbtn:hover,
.dropbtn:focus {
  outline: 9px;
  background: #0a4c52;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}
  
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  

.filter{
  display: flex;
  align-self: flex-end;
}